<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>INDEX</title>
</head>
<body>
<h1>Add New Block</h1>
<form action="/addblock" method="POST">
    <label for="wkl">Work to be Logged (mins)</label>
    <input type="text" name="wklog" id="wkl">
    <button>
        <h2>Add Block</h2>
    </button>
</form>
</body>
</html>