<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>INDEX</title>
</head>
<body>
<h1>Block Added</h1>
<p>Block added with {{.Wklog}} minutes</p>
<form action="/" method="POST">
    <button>
        <h2>Add Another Block</h2>
    </button>
</form>
<form action="/chaindata" method="POST">
    <button>
        <h2>View Blockchain</h2>
    </button>
</form>
</body>
</html>